<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %></h1>
    <p>
      Click here to set a new password!
    
    <%= @url %>/<%= @user.remember_token %>/edit

  

    <br/>
    </p>
    <br/>
    <br/>
    <br/>
    http://localhost:3000/users/5T5vJnGb2heWgBIWNCrcIw/edit/
    <p>
    </p>
    <p>Good BYE!
      <br/>
      -Bill
    </p>
  </body>
</html>