<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You're fired, effective immediately!, <%= @user.name %></h1>
    <p>
      Why do you smell like booze?
    <br/>
    </p>
    <p>
    </p>
    <p>Good BYE!
      <br/>
      -Bill
    </p>
  </body>
</html>